---
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout title="2025 Contract">
  <div>
    <h2 class="heading-3">Our second contract</h2>
    <p>Watch this space!</p>
  </div>
</BaseLayout>
