/* MARK: .page */
.page {
  min-height: 100dvh;
}

.page__header,
.page__footer {
  color: #ffffff;

  --ksru-outline-color: var(--ksru-color-outline-accent);
}

.page__footer {
  display: flex;
  flex-wrap: wrap;
  width: auto;
  gap: 0;
  padding: 0;
  align-items: stretch;

  background-color: var(--ksru-color-accent);
}

.page__footer-social {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  padding-block: 1rem;
  padding-inline: 1rem;
}

.page__footer-social ul {
  margin-bottom: 0;
}

.page__footer-info {
  font-size: 0.875rem;
  font-weight: 500;
  margin: 0;
}

.page__header a,
.page__footer a {
  text-decoration-thickness: auto;
}

.page__header {
  display: flex;
  flex-wrap: wrap;
  width: auto;
  gap: 0;
  padding: 0;
  align-items: stretch;

  background-color: var(--ksru-color-accent);
  color: var(--color-white);

  position: sticky;
  top: 0;
  z-index: 1;
}

.page__logo {
  font-size: clamp(
    1rem,
    calc(1rem + (0.5rem * (100vw - 480px) / 544px)),
    1.5rem
  );
  font-weight: 600;
}

.link--standalone {
  text-decoration: none;
}

.link--standalone:hover,
.link--standalone:focus:focus-visible {
  text-decoration: underline;
}
