.menu {
  flex-direction: column;
  corner-shape: squircle;
}

.menu:popover-open,
dialog[open] {
  display: flex;
}

.menu:popover-open {
  /* gotta undo the Popover user styles and apply anchor positioning */
  inset: auto;
  overflow: auto;
  position-area: end span-end;
  position-try-fallbacks: flip-inline;

  @apply shadow-lg border border-gray-200 bg-white rounded-2xl;
}

.menu>* {
  padding: 0.5rem 1rem;
}

.menu__item,
.menu__title {
  padding: 0.5rem 1rem;
}

.menu__title {
  font-weight: 500;
  font-size: 0.875em;
  text-transform: uppercase;
  border-bottom: 1px solid currentColor;
  padding-top: 1rem;
}

.menu__item {
  text-decoration: none;
  min-width: 44px;
  min-height: 44px;
  align-content: center;
  outline-offset: -4px;
}

.menu__item:hover,
.menu__item:focus:focus-visible {
  background-color: var(--color-gray-200);
}

.menu__item:active {
  background-color: var(--color-gray-300);
}
