.social-link__btn {
  padding: 8px;
  margin-top: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  color: var(--ksru-color-icon);
}

.social-link__btn--labeled {
  padding: 8px 16px;
}

.social-link__btn:hover {
  background-color: color-mix(in oklch, currentColor, transparent 90%);
}

.social-link__btn:active {
  background-color: color-mix(in oklch, currentColor, transparent 80%);
}
