@reference "../../styles/global.css";

@layer components {
  .days-on-strike {
    border: 5px solid var(--ksru-color-accent-light);

    @apply p-8 rounded-4xl gap-12 flex flex-col md:flex-row items-stretch [corner-shape:squircle];
  }

  * + .days-on-strike {
    margin-top: 32px;
  }

  .days-on-strike__bill {
    @apply flex-2 shrink-0 basis-auto grid place-items-center border border-green-900/10 p-6 rounded-2xl bg-green-50 text-green-950 inset-shadow-xs inset-shadow-gray-300;
  }

  .days-on-strike .day-count {
    color: var(--ksru-color-accent-light);

    @apply mt-0 h-28 w-28 text-5xl shadow-sm shadow-gray-200 border border-gray-300 rounded m-auto px-6 text-center bg-white aspect-square content-center;
  }
}
