---
import "./social-links.css";

interface Props {
  label: string;
  href: string;
  showLabel?: boolean;
}
const { label, href, showLabel } = Astro.props;
---

<li class="m-0">
  <a
    href={href}
    rel="me noopener noreferrer"
    target="_blank"
    class:list={["btn social-link__btn", { "social-link__btn--labeled": showLabel }]}
    aria-label={!showLabel ? label : undefined}
    title={!showLabel ? `Follow us on ${label}` : undefined}
  >
    <slot />
    {showLabel && <span>{label}</span>}
  </a>
</li>
