---
import "./social-links.css";

interface Props {
  label: string;
  href: string;
}
const { label, href } = Astro.props;
---

<li class="m-0">
  <a href={href} rel="me" target="_blank" class="btn social-link__btn" aria-label={label}>
    <slot />
  </a>
</li>
