---
import { render } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";
import { allBlogPosts } from "../../blog/getBlogPosts";

export async function getStaticPaths() {
  return allBlogPosts.map((post) => ({
    params: { slug: post.id },
    props: { post },
  }));
}

const { post } = Astro.props;
const { Content } = await render(post);
const frontmatter = post.data;
const tags = frontmatter.tags;
---

<BaseLayout title={frontmatter.title}>
  <Content />

  {tags.length > 0 &&(
    <hr />
    <h3>Tags:</h3>
    <ul class="list-none flex">
      {
        frontmatter.tags.map((tag: string) => (
          <li class="m-2">
            <a class="border-4 p-2 no-underline" href={`/blog/tags/${tag}`}>
              <b>{tag}</b>
            </a>
          </li>
        ))
      }
    </ul>
  )}
</BaseLayout>
