@layer components {
  .days-on-strike {
    border: 5px solid var(--ksru-color-accent-light);
    border-radius: 28px;
    padding: 32px;
    /* @apply shadow-lg; */
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  * + .days-on-strike {
    margin-top: 32px;
  }

  .days-on-strike__bill {
    @apply flex-2 shrink-0 basis-auto
      grid place-items-center
      border border-green-900/10 p-6 rounded-2xl
      bg-green-50 text-green-950
      inset-shadow-xs inset-shadow-gray-300;
  }

  .days-on-strike .day-count {
    font-size: 3em;
    display: block;
    color: var(--ksru-color-accent-light);
    visibility: hidden;

    @apply shadow-sm shadow-gray-200 border border-gray-300 rounded mx-auto min-w-[2ch] px-6 text-center bg-white aspect-square content-center;
  }

  .days-on-strike .pump {
    text-align: center;
    font-size: 1.6em;
    display: block;
  }
}
