@layer components {
  .days-on-strike {
    margin-right: auto;
    margin-left: auto;
    width: auto;
    border: 5px solid var(--ksru-color-accent-light);
    border-radius: 28px;
    padding: clamp(20px, 3vw, 36px);
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  * + .days-on-strike {
    margin-top: 32px;
  }

  .days-on-strike .day-count {
    font-size: 3em;
    display: block;
    color: var(--ksru-color-accent-light);
    visibility: hidden;
  }

  .days-on-strike .pump {
    text-align: center;
    font-size: 1.6em;
    display: block;
  }
}
