@layer components {  
    @media screen and (min-width: 768px) {
      .fund {
        display: grid;
        grid-template-columns: minmax(30ch, 1fr) 1fr;
  
        gap: 1rem 2rem;
        margin-top: 2rem;
      }
  
      .fund > * {
        grid-column: 2;
      }
  
      .fund__main {
        grid-column: 1;
        top: 6rem;
      }
    }
  }
  