@layer base {
  html {
    /* Fallback fonts */
    --ksru-font-stack-system: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

    /* Font families */
    --ksru-font-family-jost: 'Jost', var(--ksru-font-stack-system, sans-serif);
    --ksru-font-family-libre-franklin: 'Libre Franklin', var(--ksru-font-stack-system, sans-serif);

    /* Content types */
    --ksru-font-family-heading: var(--ksru-font-family-jost, monospace);

    --ksru-font-family-body: var(--ksru-font-family-libre-franklin, sans-serif);

    --ksru-line-length: 70ch;

    --ksru-color-accent: #034752;
    --ksru-color-accent-light: #05ce78;
    --ksru-color-bg: #ffffff;
    --ksru-color-bg-loading: #ddd;

    font-size: 100%;
  }

  :is(p, ul, ol, dl, dt, dd, li, blockquote, pre, table, hr) {
    margin: 0;
  }

  * + :is(p, ul, ol, dl, dt, dd, li, blockquote, pre, table, hr) {
    margin-top: 0.75rem;
  }

  * + li {
    margin-top: 0.25rem;
  }

  body {
    font-family: var(--ksru-font-family-body);
  }

  a {
    display: inline;
    color: currentColor;

    text-decoration-thickness: 2px;
    text-underline-offset: 2px;
  }

  a:hover {
    text-decoration-thickness: 3px;
  }

  ul {
    padding-inline-start: 1.5rem;
  }

  ul[role] {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  ul[role] li {
    margin: 0;
    padding: 0;
  }

  dt {
    font-weight: 600;
  }
  * + dt {
    margin-top: 1rem;
  }
  dd {
    margin-left: 0;
    margin-top: 0.25rem;
  }

  html {
    scroll-behavior: smooth;
    scroll-padding: 6rem 0 0;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: var(--ksru-font-family-heading);
    line-height: 1.2;
    text-wrap: pretty;
  }

  /* Musical hexatonic scale: 𝑓ᵢ = 𝑓₀𝑟ⁱ⁄ⁿ, n=6, r=2, 𝑓₀=1em */
  h1 { font-size: 2em; }
  h2 { font-size: 1.7818em; }
  h3 { font-size: 1.5874em; }
  h4 { font-size: 1.4142em; }
  h5 { font-size: 1.2599em; }
  h6 { font-size: 1.1225em; }
  p { font-size: 1em; }
  small { font-size: .8909em; }

  img {
    max-width: 100%;
    height: auto;
  }

  hr {
    --_clr-1: color-mix(in lch, var(--ksru-color-accent), transparent 0%);
    --_clr-2: color-mix(in lch, var(--ksru-color-accent-light), transparent 50%);
    --_line: radial-gradient(circle at center, var(--_clr-1) max(128px, 33%), var(--_clr-2) 70%, transparent calc(100% - 64px), transparent);
    border: none;
    height: 2px;
    margin: 32px 0;
    background-image: var(--_line);
  }
}

@layer components {
  /* MARK: .surface */
  @property --surface-border-angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
  }

  .surface {
    border-radius: 16px;
    padding: 1.5rem;
    position: relative;
    background: var(--ksru-color-bg);
  }

  @supports (corner-shape: squircle) {
    .surface {
      corner-shape: squircle;
      border-radius: 32px;
    }
  }

  .surface::before {
    --_clr-1: var(--ksru-color-accent);
    --_clr-2: color-mix(in oklch, var(--ksru-color-accent-light), transparent 50%);

    content: "";
    position: absolute;
    inset: -1px;
    border-radius: inherit;
    corner-shape: inherit;
    z-index: -1;

    background: conic-gradient(from var(--surface-border-angle, 0deg) at center, var(--_clr-1), var(--_clr-2), var(--_clr-1), var(--_clr-2), var(--_clr-1));
    animation: surface-border-rotate 30s linear infinite;
    /* filter: blur(3.5px); */
  }

  .surface.breaking::before {
    inset: -1px;
    filter: blur(2px);
  }

  .surface.breaking {
    background-color: color-mix(in oklch, var(--ksru-color-accent-light), white 90%);
    color: color-mix(in oklch, var(--ksru-color-accent), black 30%);
  }

  * + .surface {
    margin-top: 2rem;
  }
}

@keyframes surface-border-rotate {
  to {
    --surface-border-angle: 1turn;
  }
}

@layer components {
  /* MARK: .page */
  .page {
    display: grid;
    min-height: 100dvh;
    grid:
      "HEADER" auto
      "MAIN"   1fr
      "FOOTER" auto
      / [BLEED-start] 16px [FULL-start] 1fr [CONTENT] minmax(auto, var(--ksru-line-length)) 1fr [FULL-end] 16px [BLEED-end];
    gap: 0;
  }
  .page > * {
    grid-column: CONTENT;
  }

  .page__header,
  .page__footer {
    color: #ffffff;
    grid-column: BLEED;
  }

  .page__header a,
  .page__footer a {
    text-decoration-thickness: auto;
  }


  /* MARK: .navigation */
  .navigation {
    z-index:1000;

    height: auto;
    align-self: end;
    justify-items: flex-end;
    --link-color: #FFF;
  }

  .navigation > * {
    justify-content: space-around;
  }

  .navigation a {
    border-radius: 4px;
    text-underline-offset: 2px;
  }

  .navigation a:not(:hover, :focus) {
    text-decoration: none;
  }

  .div-block-2 {
    margin-inline: 0;
    margin-block: 2em;
  }

  /* MARK: .social-links */
  .social-links {
    margin: 0;
    padding: 0;
    display: inline-flex;
    flex-wrap: wrap;
    gap: 16px;
  }

  .social-links > * {
    margin: 0;
    display: flex;
    gap: 4px;
  }

  .section, .section-2, .div-block {
    font-family: unset;
  }

  .body {
    font-size: unset;
    line-height: 1.6;
    font-family: var(--ksru-font-family-body);
  }
}

/* MARK: .embed */
@layer components {
  .embed {
    max-width: 100%;
    height: auto;
    background-color: var(--ksru-color-bg-loading);
  }
  .embed--video {
    aspect-ratio: 16 / 9;
    border-radius: 16px;
  }
}

/* MARK: .media */
@layer components {
  @media screen and (min-width: 768px) {
    .media {
      display: grid;
      grid-template-columns: minmax(30ch, 0.5fr);
      grid-auto-flow: column;
      grid-auto-columns: 1fr;
      gap: 1rem 2rem;
    }

    * + .media {
      margin-top: 1rem;
    }

    .media > * {
      margin: 0;
    }

    .media > :first-child {
      position: sticky;
      top: 6rem;
    }

    .media__details {
      align-self: center;
    }
  }
}

/* MARK: .solidarity */
@layer components {
  .solidarity {}

  * + .solidarity {
    margin-top: 1rem;
  }

  .solidarity__links {
    display: flex;
    gap: 0.25rem 1rem;
    flex-wrap: wrap;
  }
}

/* MARK: Utilities */
@layer utilities {
  .sr-only:not(:focus):not(:active) {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
}

/* MARK: Legacy styles */
@layer legacy {

body {
  font-family: Montserrat, sans-serif;
  color: #1a1b1f;
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
}

h1 {
  margin-top: 20px;
  margin-bottom: 15px;
  font-size: 44px;
  line-height: 62px;
  font-weight: 400;
}

h2 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 36px;
  line-height: 50px;
  font-weight: 400;
}

h3 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 30px;
  line-height: 46px;
  font-weight: 400;
}

h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 24px;
  line-height: 38px;
  font-weight: 400;
}

h5 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 20px;
  line-height: 34px;
  font-weight: 500;
}

h6 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 28px;
  font-weight: 500;
}

p {
  margin-bottom: 10px;
}

a {
  display: block;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  color: #1a1b1f;
  text-decoration: underline;
}


ul {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 40px;
  list-style-type: disc;
}

li {
  margin-bottom: 10px;
}

img {
  display: block;
}

label {
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 20px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.container {
  width: 100%;
  max-width: 1140px;
  margin-right: auto;
  margin-left: auto;
}

.section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 0px;
  margin-left: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.navigation {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 72px;
  padding: 16px 32px;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  background-color: #519758;
  background-image: linear-gradient(135deg, #034752, #05ce78), linear-gradient(180deg, #000, #fff);
}

._404-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  padding: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #1a1b1f;
}

._404-content-wrap {
  margin-bottom: 20px;
}

.protected-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 90px;
  padding-bottom: 100px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}

.protected-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.protected-heading {
  margin-bottom: 30px;
}

.image {
  margin-top: 16px;
  margin-bottom: 16px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.section-2 {
  width: auto;
  max-width: 1140px;
}

* + .section-2 {
  margin-top: 32px;
}

.section-3 {
  margin-right: 30px;
  margin-left: 30px;
}


.collection-list-wrapper {
  margin-right: 30px;
  margin-left: 30px;
}

.collection-list {
  display: block;
}

.collection-list-wrapper-2 {
  margin-right: 30px;
  margin-left: 30px;
  font-family: Inconsolata, monospace;
}

.section-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.paragraph {
  margin-top: 32px;
  padding-top: 0px;
}

.paragraph > a {
  display: inline;
}

li > a {
  display: inline;
}

.div-block {
  position: relative;
  font-family: Inconsolata, monospace;
}

.body {
  font-family: Inconsolata, monospace;
}

.collection-list-wrapper-3 {
  display: block;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.collection-list-2 {
  display: block;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.heading-3 {
  margin-top: 32px;
}

.div-block-2 {
  margin-right: 32px;
  margin-left: 32px;
}

.div-block-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  color: #fff;
}

.section-7 {
  display: block;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  background-color: #519758;
  background-image: -webkit-gradient(linear, left top, right top, from(#034752), to(#05ce78));
  background-image: linear-gradient(90deg, #034752, #05ce78);
}

.text-block {
  display: block;
  margin-bottom: 0px;
  padding: 16px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  color: #fff;
  text-align: center;
}

}

@layer legacy {













@media (max-width: 991px) {

  .navigation {
    padding: 25px 30px;
  }

  .div-block-2 {
    margin-right: 12px;
    margin-left: 12px;
  }
}

@media (max-width: 767px) {
  .container {
    text-align: center;
  }
  .section {
    margin-right: 15px;
    margin-left: 15px;
  }
  .paragraph-bigger {
    font-size: 16px;
    line-height: 28px;
  }
  .navigation {
    padding: 20px 30px;
  }
  ._404-wrap {
    padding: 30px;
  }
}

@media (max-width: 479px) {
  .navigation {
    padding-right: 20px;
    padding-left: 20px;
  }
}

a.footer {
  color: #fff;
  display: inline;
  text-decoration: none;
}

}
