@layer components {
  .rally__links {
    display: flex;
    gap: 0.25rem 1rem;
    flex-wrap: wrap;
  }

  .rally__card {
    border: 1px solid gray;
    padding: 1rem;
  }
  .rally__card > h5 {
    margin-top: 0;
  }

  .rally__details {
    display: flex;

    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .rally__logistics {
    flex: 1 1 40ch;
  }

  .rally__cta a:hover,
  .rally__cta a:focus {
    filter: brightness(1.1);
    text-decoration: none;
  }

  .rally__cta > small {
    text-wrap: balance;
  }

  .rally__share {
    text-align: center;
  }

  @media screen and (min-width: 768px) {
    .rally {
      display: grid;
      grid-template-columns: minmax(30ch, 1fr) 1fr;

      gap: 1rem 2rem;
    }

    * + .rally {
      margin-top: 1rem;
    }

    .rally > * {
      grid-column: 2;
    }

    .rally__toc {
      grid-column: 1 / -1;
    }

    .rally__main {
      grid-column: 1;
      position: sticky;
      top: 6rem;
    }
  }
}

@layer components {
    @media screen and (min-width: 768px) {
      .fund {
        display: grid;
        grid-template-columns: minmax(30ch, 1fr) 1fr;

        gap: 1rem 2rem;
        margin-top: 1rem;
      }

      .fund > * {
        grid-column: 2;
      }

      .fund__main {
        grid-column: 1;
        top: 6rem;
      }
    }
  }
