---
import AboutLinks from "../AboutLinks.astro";
import ContractsLinks from "../ContractsLinks.astro";
import EventsLinks from "../EventsLinks.astro";
import MenuIcon from "../Icon/MenuIcon.astro";
import ResourcesLinks from "../ResourcesLinks.astro";

// Link data extracted from the imported components above
type NavItem = Link | Menu;
type Link = { label: string; href: string; target?: string };
type Menu = { label: string; links: NavItem[] };

export const items: NavItem[] = [
  {
    label: "About",
    links: [
      { label: "About Us", href: "/about" },
      { label: "Oral History", href: "/oral-history" },
      {
        label: "Every Worker Needs a Union",
        href: "/every-worker-needs-a-union",
      },
      {
        label: "Contact Us",
        href: "https://docs.google.com/forms/d/e/1FAIpQLSd3JgEtyy72nD6zAwdZsIMeJ5PMg3pIOtkwR7l1uooCJI9bTA/viewform",
        target: "_blank",
      },
    ],
  },
  { label: "Events", links: [{ label: "Calendar", href: "/events/calendar" }] },
  {
    label: "Contracts",
    links: [
      { label: "2025 Contract", href: "/contracts/2025" },
      { label: "2022 Contract", href: "/contracts/2022" },
      {
        label: "May Day Severance Agreement",
        href: "/may-day-severance-agreement",
      },
    ],
  },
  {
    label: "Resources",
    links: [
      { label: "FAQ", href: "/faq" },
      { label: "Logo Generator", href: "/logos" },
      { label: "Press", href: "/press" },
      { label: "Socials", href: "/socials" },
      { label: "Creator Assets", href: "/union-assets" },
      {
        label: "Projects our Workers Love",
        href: "/projects-our-workers-love",
      },
      { label: "How Creators Can Help", href: "/creators" },
    ],
  },
];
---

<nav class="page__nav">
  <a class="btn link sr-only" href="#content">Skip to main content</a>
  {/* See the dialog at the bottom of the file. */}
  <!-- @ts-ignore command and commandfor errors -->
  <button
    id="menu-trigger"
    class="flex gap-1 items-center sm:hidden"
    command="show-modal"
    commandfor="mobile-nav"
  >
    <MenuIcon />
    Menu
  </button>

  <div class="hidden sm:flex sm:flex-wrap">
    <div class="popover">
      <button
        id="about-trigger"
        class="menu [anchor-name:--about-trigger]"
        popovertarget="about-links"
      >
        About
      </button>
      <menu
        id="about-links"
        class="menu [position-anchor:--about-trigger]"
        popover
        aria-labelledby="about-trigger"
      >
        <AboutLinks />
      </menu>
    </div>

    <div class="popover">
      <button
        id="events-trigger"
        class="[anchor-name:--events-trigger]"
        popovertarget="events-links"
      >
        Events
      </button>
      <menu
        id="events-links"
        class="menu [position-anchor:--events-trigger]"
        popover
        aria-labelledby="about-trigger"
      >
        <EventsLinks />
      </menu>
    </div>

    <div class="popover">
      <button
        id="contracts-trigger"
        class="[anchor-name:--contracts-trigger]"
        popovertarget="contracts-links"
      >
        Contracts
      </button>
      <menu
        id="contracts-links"
        class="menu"
        popover
        aria-labelledby="contracts-trigger"
      >
        <ContractsLinks />
      </menu>
    </div>

    <div class="popover">
      <button
        id="resources-trigger"
        class="[anchor-name:--resources-trigger]"
        popovertarget="resources-links"
      >
        Resources
      </button>
      <menu
        id="resources-links"
        class="menu [position-anchor:--resources-trigger] [position-area:end_span-start]"
        popover
        aria-labelledby="resources-trigger"
      >
        <ResourcesLinks />
      </menu>
    </div>
  </div>
</nav>
