@import "tailwindcss";

@import "../ui/index.css";
@import "./base/legacy.css";

ol {
  list-style-type: revert;
}

/* TODO: extract the rest of ksru-web.webflow.css to component files */
@layer components {
  @import "./ksru-web.webflow.css";
  @import "./components/page.css";
  @import "./components/page-grid.css";
  @import "./components/retro-ribbon.css";
}

@view-transition {
  navigation: auto;
}

/* this element is inserted by a script so I can't add a tailwind class to it */
.formkit-form {
  margin: auto;
  border-radius: 16px !important;
  overflow: hidden;
}

[data-theme="dark"] .formkit-form {
  filter: brightness(0.82) saturate(0.6);
}

@media (prefers-color-scheme: dark) {
  [data-theme="system"] .formkit-form {
    filter: brightness(0.82) saturate(0.6);
  }
}

@supports (corner-shape: squircle) {
  .formkit-form {
    corner-shape: squircle;
    border-radius: 64px !important;
  }
}
