@import "tailwindcss";

@import "./base/legacy.css";

ol {
  list-style-type: revert;
}

/* TODO: extract the rest of ksru-web.webflow.css to component files */
@layer components {
  @import "./ksru-web.webflow.css";
  @import "./components/page.css";
  @import "./components/page-grid.css";
}
