@import "tailwindcss";

@import "./base/legacy.css";

ol {
  list-style-type: revert;
}

/* TODO: extract the rest of ksru-web.webflow.css to component files */
@layer components {
  @import "./ksru-web.webflow.css";
  @import "./components/page.css";
  @import "./components/page-grid.css";
}

@view-transition {
  navigation: auto;
}

/* this element is inserted by a script so I can't add a tailwind class to it */
.formkit-form {
  margin: auto;
}
