<!DOCTYPE html>
<meta charset="utf-8">
<title>Redirecting to https://kickstarterunited.org/contracts/2022/</title>
<meta http-equiv="refresh" content="0; URL=/contracts/2022/">
<link rel="canonical" href="/contracts/2022/">
-# %script window.location.replace("/contracts/2022/");
