---
import "./tooltip.css";

interface Props {
  id: string;
}
const { id } = Astro.props;
---

<div id={id} popover="hint" role="tooltip" class="tooltip">
  <slot />
  <div class="tooltip__arrow"></div>
</div>
