---
import Rally from "./Rally.astro";
---

<div>
  <h1 id="rally-with-us">
    <a class="no-underline" href="#rally-with-us"> Rally With Us </a>
  </h1>
  <p>
    Our strike rallies are a chance to come together in solidarity. Join us in
    Seattle and New York as workers, friends, and community members gather to
    support a fair contract. Together, we'll raise our voices for a 32-hour week
    and livable wages.
  </p>
  <div class="rally-gallery">
    <Rally
      image="images/rally/kickstarter-united-rally-seattle-2025-10-02.png"
      alt="Kickstarter United members and supporters rallying in Seattle"
      locationId="seattle"
      caption="Strike rally to be held on October 2, 2025 at 6pm PST at Cal Anderson Park in Seattle, WA."
      rsvpCTA="RSVP for Seattle"
      rsvpLink="https://forms.gle/ZuvKnXV4RJjwSj1P9"
    />
    <Rally
      image="images/rally/kickstarter-united-rally-nyc-2025-10-07.png"
      alt="Kickstarter United members and supporters rallying in New York"
      locationId="nyc"
      caption="Come rally with us on October 7, 2025 in New York City at Union Square Ventures."
      rsvpCTA="RSVP for NYC"
      rsvpLink="//bit.ly/KSRUrally"
    />
  </div>
</div>
