---
import Rally from "./Rally.astro";
---

<div>
  <h1 id="rally-with-us">
    <a class="no-underline" href="#rally-with-us"> Rally With Us </a>
  </h1>
  <p>
    Our strike rallies are a chance to come together in solidarity. Join us in
    Boston as workers, friends, and community members gather to support a fair
    contract. Together, we'll raise our voices for a 32-hour week and livable
    wages.
  </p>
  <div class="rally-gallery">
    <Rally
      image="/images/rally/kickstarter-united-rally-boston-2025-10-23-v2.png"
      alt="Kickstarter United members and supporters rallying in Boston"
      locationId="boston"
      caption="Strike rally to be held on October 23, 2025 at 12pm EST at 100 Oliver Street, Boston"
      rsvpCTA="RSVP for Boston"
      rsvpLink="/boston"
    />
  </div>
</div>
