---
interface Props {
	layout?: 'centered' | 'fullscreen' | 'padded';
}

const { layout = 'centered' } = Astro.props;
const className = layout !== 'centered' ? `story-layout-${layout}` : undefined;
---

<div class={className}>
	<slot />
</div>
