!= render 'templates/layout' do
  .w-auto
    %img.mx-auto{:alt => "Kickstarter United Logo", :src => "../images/logo.svg", :width => "256"}/

  %hr/

  %div
    %h1 Our Socials
    %p
      Follow us on social media:
      != render 'templates/social_links'

