!= render 'templates/layout' do
  .grid.place-items-center.place-content-center.aspect-square
    %div.sticky.inset-0.top-20.text-center
      .font-bold
        Is the strike over yet?
      .text-9xl.text-red-600
        NO
