---
import RallySection from "../components/Rally/RallySection.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Boston Rally">
  <h1>Boston Rally (🚧 Under construction! 🚧)</h1>
  <p>
    This will soon be updated to redirect to the RSVP page for the Boston Rally!
  </p>
  <p>
    Below you can see the "Rally With Us" section that will soon be on our
    <a href="/">homepage</a>.
  </p>

  <RallySection />
</BaseLayout>
