---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Is It Over?">
  <div class="grid place-items-center place-content-center aspect-square w-full h-full">
    <div class="sticky inset-0 top-20 text-center h-full">
      <div class="font-bold">Is the strike over yet?</div>
      <div class="text-9xl text-green-600 mb-8">YES</div>
      <div class="font-bold mb-2">We’re incredibly grateful for everyone who has supported us so far</div>
      <div class="text-center">
        <script async data-uid="c936d588a0" src="https://kickstarter-united.kit.com/c936d588a0/index.js"></script>
      </div>
    </div>
  </div>
</BaseLayout>
