---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Is It Over?">
  <div class="grid place-items-center place-content-center aspect-square">
    <div class="sticky inset-0 top-20 text-center">
      <div class="font-bold">Is the strike over yet?</div>
      <div class="text-9xl text-red-600">NO</div>
    </div>
  </div>
</BaseLayout>
