---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Is It Over?">
  <div class="grid place-items-center place-content-center aspect-square w-full h-full">
    <div class="sticky inset-0 top-20 text-center h-full">
      <div class="font-bold">Is the strike over yet?</div>
      <div class="text-9xl text-green-600 mb-8">YES</div>
      <div class="font-bold mb-2">We’re incredibly grateful for everyone who has supported us so far <br>
        If you’d like to continue receiving updates, news, and notifications from us, please sign up below.</div>
      <form class="inline-flex items-center border border-gray-300 rounded-lg overflow-hidden shadow-sm bg-white" action="https://docs.google.com/forms/d/e/1FAIpQLSc7JJxN-7M4Tt1AVZa2Y7MA6lhw7dnzAonQfwVL1GPte5Dw8w/viewform?usp=header">
        <input type="email" required="true" placeholder="Email" name="entry.66917696" class="px-4 py-2 w-64 outline-none border-r border-gray-300 focus:border-green-500 focus:ring-0">
        <input type="hidden" name="entry.101076462" value="Yes">
        <input type="submit" value="Submit" class="px-5 py-2 btn-success text-white font-semibold hover:bg-green-600 active:bg-green-700 focus:outline-none transition-colors">
      </form>
    </div>
  </div>
</BaseLayout>
