---
import { Image } from "astro:assets";
import KSRUOralHistoryCover from "../images/ksruoralhistory-cover.jpg";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="The Kickstarter United Oral History">
  <div class="w-auto">
    <div class="mx-auto w-1/2">
      <Image
        alt="Kickstarter United Oral History logo"
        src={KSRUOralHistoryCover}
      />
    </div>
  </div>

  <hr />

  <div>
    <h1 class="heading-3">The Kickstarter United Oral History</h1>
    <p>
      In 2020, one of our former organizers,
      <a
        href="https://twitter.com/clarissaredwine"
        title="Clarissa's Twitter account"
        target="_blank">Clarissa Redwine</a
      >, teamed up with
      <a
        href="https://www.law.nyu.edu/centers/engelberg"
        title="NYU's Engelberg Center"
        target="_blank">NYU's Engelberg Center</a
      >
      to compile an oral history of our union from genesis all the way to the vote
      win. You can also search for "Engelberg Center Live!" in your podcast app of
      choice to find these episodes and more.
    </p>

    <iframe
      seamless="true"
      height="200px"
      width="100%"
      src="https://player.simplecast.com/1b922782-a7f5-43eb-8291-a27650725db1?dark=false"
      title="Introducing an Oral History of the Kickstarter Union"></iframe>

    <iframe
      seamless="true"
      height="200px"
      width="100%"
      src="https://player.simplecast.com/27cc8fad-ca0e-4f96-a0b4-fd809be079c5?dark=false"
      title="One on Ones"></iframe>

    <iframe
      seamless="true"
      height="200px"
      width="100%"
      src="https://player.simplecast.com/201c8bb5-5379-4cea-bfdf-5aa0c2bcc008?dark=false"
      title="Documentation"></iframe>

    <iframe
      seamless="true"
      height="200px"
      width="100%"
      src="https://player.simplecast.com/5b163cb0-099c-40ef-aa78-ad1c283a595d?dark=false"
      title="Unions in Tech"></iframe>

    <iframe
      seamless="true"
      height="200px"
      width="100%"
      src="https://player.simplecast.com/de10aa75-cc7c-4d83-9910-dffc94b55ecc?dark=false"
      title="Chapter 1: Fertile Ground"></iframe>

    <iframe
      seamless="true"
      height="200px"
      width="100%"
      src="https://player.simplecast.com/1b2f2abd-68f5-4b0e-b48b-6be2bd41cafd?dark=false"
      title="Chapter 2: Catalyst"></iframe>

    <iframe
      seamless="true"
      height="200px"
      width="100%"
      src="https://player.simplecast.com/e9fff6a9-7aba-4683-aa07-f1d0007b2bcc?dark=false"
      title="Chapter 3: Solidarity"></iframe>

    <iframe
      seamless="true"
      height="200px"
      width="100%"
      src="https://player.simplecast.com/9683a773-e3eb-417c-a980-14db219dd5ed?dark=false"
      title="Chapter 4: The Leak"></iframe>

    <iframe
      seamless="true"
      height="200px"
      width="100%"
      src="https://player.simplecast.com/ea781ce9-4e00-45b5-a876-9de115550c6c?dark=false"
      title="Chapter 5: Captive Audience | Part 1"></iframe>

    <iframe
      seamless="true"
      height="200px"
      width="100%"
      src="https://player.simplecast.com/4ddb3e7d-4f32-462b-9310-466d4393bbd1?dark=false"
      title="Chapter 5: Captive Audience | Part 2"></iframe>

    <iframe
      seamless="true"
      height="200px"
      width="100%"
      src="https://player.simplecast.com/fed4e9b3-d4a5-426b-b7d6-469e0b895480?dark=false"
      title="Chapter 5: Captive Audience | Part 3"></iframe>

    <iframe
      seamless="true"
      height="200px"
      width="100%"
      src="https://player.simplecast.com/80b842a7-e026-446b-8f7d-6393fce55e29?dark=false"
      title="Chapter 6: Retaliation | Part 1"></iframe>

    <iframe
      seamless="true"
      height="200px"
      width="100%"
      src="https://player.simplecast.com/ffb20c14-2855-45f6-9872-a63758b0fb4e?dark=false"
      title="Chapter 6: Retaliation | Part 2"></iframe>

    <iframe
      seamless="true"
      height="200px"
      width="100%"
      src="https://player.simplecast.com/6842c8bd-62e8-41c1-9c70-9c9c182cba14?dark=false"
      title="Chapter 7: Recognition"></iframe>

    <iframe
      seamless="true"
      height="200px"
      width="100%"
      src="https://player.simplecast.com/572e0a43-e14e-4ed1-8d8e-169e42ed851e?dark=false"
      title="Chapter 8: The Vote"></iframe>

    <iframe
      seamless="true"
      height="200px"
      width="100%"
      src="https://player.simplecast.com/10b1e403-feee-442a-8677-2a50de28015f?dark=false"
      title="Chapter 9: The Count"></iframe>

    <iframe
      seamless="true"
      height="200px"
      width="100%"
      src="https://player.simplecast.com/f0cdb6d8-c2cd-4264-9777-beb8b2546ad9?dark=false"
      title="Chapter 10: The Pandemic"></iframe>
  </div>
</BaseLayout>
