---
import ProjectList from "../components/ProjectList";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Projects our Workers Love">
  <h1>Projects our Workers Love</h1>
  <p>
    Here we'll be featuring live projects that have expressed support for
    Kickstarter United.
  </p>
  <p>
    If you're a creator,
    <a href="/creators">here are some ways you can support us.</a>
    If you have a live project who would like to be featured here, please fill out
    <a
      href="https://docs.google.com/forms/d/e/1FAIpQLSd3JgEtyy72nD6zAwdZsIMeJ5PMg3pIOtkwR7l1uooCJI9bTA/viewform"
      target="_blank">this form</a
    >
    to let us know!
  </p>

  <ul class="mt-4 flex list-none p-0 flex-wrap justify-evenly">
    <ProjectList client:load />
  </ul>
</BaseLayout>
