---
import { Image } from "astro:assets";
import SocialLinks from "../components/SocialLinks/SocialLinks.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Our Socials">
  <div class="w-auto">
    <Image
      class="mx-auto"
      alt="Kickstarter United Logo"
      src="../images/logo.svg"
      width="256"
    />
  </div>
  <hr />
  <div>
    <h1>Our Socials</h1>
    <p>
      Follow us on social media:
      <SocialLinks />
    </p>
  </div>
</BaseLayout>
