---
import SocialLinks from "../components/SocialLinks/SocialLinks.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import Logo from "../images/logo.svg";
---

<BaseLayout title="Our Socials">
  <div class="w-auto">
    <Logo class="mx-auto" width="256" height="256" />
  </div>
  <hr />
  <div>
    <h1>Our Socials</h1>
    <p>
      Follow us on social media:
      <SocialLinks />
    </p>
  </div>
</BaseLayout>
