---
import AssetBox from "../components/AssetBox.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Union Assets">
  <h2>Creator Assets</h2>
  <p>
    Please use these assets in your campaign story and thumbnail image to
    express support for Kickstarter United!
  </p>

  <AssetBox
    href="/images/union_assets/banner-1.png"
    button_text="Download"
    width={3054}
    height={846}
    alt="'We stand with Kickstarter United' in bold black text with the Kickstarter United OPEIU 153 union logo"
  />
  <AssetBox
    href="/images/union_assets/banner-2-large.png"
    button_text="Download (large)"
    alt_button={{
      href: "/images/union_assets/banner-2-small.png",
      text: "Download (small)",
    }}
    width={3750}
    height={720}
    alt="'We stand with Kickstarter United' in bold white text on a black flag with the Kickstarter United OPEIU 153 union logo"
  />
  <AssetBox
    href="/images/union_assets/banner-3.png"
    button_text="Download"
    width={2751}
    height={720}
  />
  <AssetBox
    href="/images/union_assets/story-1920x1080.png"
    button_text="Download (1920x1080)"
    alt_button={{
      href: "/images/union_assets/story-680x383.png",
      text: "Download (680x383)",
    }}
    width={1920}
    height={1080}
  />
  <AssetBox
    href="/images/union_assets/Strike_Unity_KSRUSeal_Black.png"
    button_text="Download (PNG)"
    alt_button={{
      href: "/images/union_assets/Strike_Unity_KSRUSeal_Black.svg",
      text: "Download (SVG)",
    }}
    width={928}
    height={928}
  />
  <AssetBox
    href="/images/union_assets/Strike_Unity_KSRUSeal_White.png"
    button_text="Download (PNG)"
    alt_button={{
      href: "/images/union_assets/Strike_Unity_KSRUSeal_White.svg",
      text: "Download (SVG)",
    }}
    width={928}
    height={928}
  />
  <AssetBox
    href="/images/union_assets/UnitedWithKSRU_Tag_Right-1.png"
    button_text="Download (PNG)"
    alt_button={{
      href: "/images/union_assets/UnitedWithKSRU_Tag_Right.svg",
      text: "Download (SVG)",
    }}
    width={1104}
    height={241}
  />
  <AssetBox
    href="/images/union_assets/UnitedWithKSRU_Tag_Right.png"
    button_text="Download (PNG)"
    alt_button={{
      href: "/images/union_assets/UnitedWithKSRU_Tag_Right.svg",
      text: "Download (SVG)",
    }}
    width={1104}
    height={241}
  />
  <AssetBox
    href="/images/union_assets/KSRU-Logo-White-Sticker.png"
    button_text="Download (PNG)"
    alt_button={{
      href: "/images/union_assets/KSRU-Logo-White-Sticker.svg",
      text: "Download (SVG)",
    }}
    width={594}
    height={593}
  />
  <AssetBox
    href="/images/union_assets/KSRU-Logo-Black-Sticker.png"
    button_text="Download (PNG)"
    alt_button={{
      href: "/images/union_assets/KSRU-Logo-Black-Sticker.svg",
      text: "Download (SVG)",
    }}
    width={593}
    height={593}
  />
</BaseLayout>
