.firework,
.firework::before,
.firework::after {
  --_initial-size: var(--firework-initial-size, 0.75vmin);
  --_final-size: var(--firework-final-size, 80vmin);
  --_particle-size: var(--firework-particle-size, 85vmin);
  --color1: var(--firework-color-1, var(--ksru-color-accent-light));
  --color2: var(--firework-color-2, khaki);
  --color3: var(--firework-color-3, white);
  --color4: var(--firework-color-4, lime);
  --color5: var(--firework-color-5, gold);
  --color6: var(--firework-color-6, mediumseagreen);
  --y: var(--firework-y, -30vmin);
  --x: var(--firework-x, -50%);
  --initialY: var(--firework-initial-y, 60vmin);

  content: "";
  animation: firework 2s infinite ease-in;
  position: absolute;
  z-index: 1000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, var(--y));
  width: var(--_initial-size);
  aspect-ratio: 1;
  background:
    /*
    radial-gradient(circle, var(--color1) var(--_particle-size), #0000 0) 0% 0%,
    radial-gradient(circle, var(--color1) var(--_particle-size), #0000 0) 100% 0%,
    radial-gradient(circle, var(--color1) var(--_particle-size), #0000 0) 100% 100%,
    radial-gradient(circle, var(--color1) var(--_particle-size), #0000 0) 0% 100%,
    */ radial-gradient(
        circle,
        var(--color1) var(--_particle-size),
        #0000 0
      )
      50% 0%,
    radial-gradient(circle, var(--color2) var(--_particle-size), #0000 0) 100%
      50%,
    radial-gradient(circle, var(--color3) var(--_particle-size), #0000 0) 50%
      100%,
    radial-gradient(circle, var(--color4) var(--_particle-size), #0000 0) 0% 50%,
    /* bottom right */
      radial-gradient(circle, var(--color5) var(--_particle-size), #0000 0) 80%
      90%,
    radial-gradient(circle, var(--color6) var(--_particle-size), #0000 0) 95%
      90%,
    radial-gradient(circle, var(--color1) var(--_particle-size), #0000 0) 90%
      70%,
    radial-gradient(circle, var(--color2) var(--_particle-size), #0000 0) 100%
      60%,
    radial-gradient(circle, var(--color3) var(--_particle-size), #0000 0) 55%
      80%,
    radial-gradient(circle, var(--color4) var(--_particle-size), #0000 0) 70%
      77%,
    /* bottom left */
      radial-gradient(circle, var(--color5) var(--_particle-size), #0000 0) 22%
      90%,
    radial-gradient(circle, var(--color6) var(--_particle-size), #0000 0) 45%
      90%,
    radial-gradient(circle, var(--color1) var(--_particle-size), #0000 0) 33%
      70%,
    radial-gradient(circle, var(--color2) var(--_particle-size), #0000 0) 10%
      60%,
    radial-gradient(circle, var(--color3) var(--_particle-size), #0000 0) 31%
      80%,
    radial-gradient(circle, var(--color4) var(--_particle-size), #0000 0) 28%
      77%,
    radial-gradient(circle, var(--color5) var(--_particle-size), #0000 0) 13%
      72%,
    /* top left */
      radial-gradient(circle, var(--color6) var(--_particle-size), #0000 0) 80%
      10%,
    radial-gradient(circle, var(--color1) var(--_particle-size), #0000 0) 95%
      14%,
    radial-gradient(circle, var(--color2) var(--_particle-size), #0000 0) 90%
      23%,
    radial-gradient(circle, var(--color3) var(--_particle-size), #0000 0) 100%
      43%,
    radial-gradient(circle, var(--color4) var(--_particle-size), #0000 0) 85%
      27%,
    radial-gradient(circle, var(--color5) var(--_particle-size), #0000 0) 77%
      37%,
    radial-gradient(circle, var(--color6) var(--_particle-size), #0000 0) 60% 7%,
    /* top right */
      radial-gradient(circle, var(--color1) var(--_particle-size), #0000 0) 22%
      14%,
    radial-gradient(circle, var(--color1) var(--_particle-size), #0000 0) 45%
      20%,
    radial-gradient(circle, var(--color1) var(--_particle-size), #0000 0) 33%
      34%,
    radial-gradient(circle, var(--color1) var(--_particle-size), #0000 0) 10%
      29%,
    radial-gradient(circle, var(--color1) var(--_particle-size), #0000 0) 31%
      37%,
    radial-gradient(circle, var(--color1) var(--_particle-size), #0000 0) 28% 7%,
    radial-gradient(circle, var(--color1) var(--_particle-size), #0000 0) 13%
      42%;
  background-size: var(--_initial-size) var(--_initial-size);
  background-repeat: no-repeat;
}

.firework::before {
  --x: -50%;
  --y: -50%;
  --initialY: -50%;
  /*   transform: translate(-20vmin, -2vmin) rotate(40deg) scale(1.3) rotateY(40deg); */
  transform: translate(-50%, -50%) rotate(40deg) scale(1.3) rotateY(40deg);
  /*   animation: fireworkPseudo 2s infinite; */
}

.firework::after {
  --x: -50%;
  --y: -50%;
  --initialY: -50%;
  /*   transform: translate(44vmin, -50%) rotate(170deg) scale(1.15) rotateY(-30deg); */
  transform: translate(-50%, -50%) rotate(170deg) scale(1.15) rotateY(-30deg);
  /*   animation: fireworkPseudo 2s infinite; */
}

.firework:nth-child(2) {
  --x: 30vmin;
}

.firework:nth-child(2),
.firework:nth-child(2)::before,
.firework:nth-child(2)::after {
  --color1: var(--color-red-100);
  --color2: violet;
  --color3: fuchsia;
  --color4: orchid;
  --color5: plum;
  --color6: lavender;
  --_final-size: 80vmin;
  left: 30%;
  top: 60%;
  animation-delay: -0.25s;
}

.firework:nth-child(3) {
  --x: -30vmin;
  --y: -50vmin;
}

.firework:nth-child(3),
.firework:nth-child(3)::before,
.firework:nth-child(3)::after {
  --color1: cyan;
  --color2: lightcyan;
  --color3: lightblue;
  --color4: PaleTurquoise;
  --color5: SkyBlue;
  --color6: lavender;
  --_final-size: 100vmin;
  left: 70%;
  top: 60%;
  animation-delay: -0.4s;
}

@keyframes firework {
  0% {
    transform: translate(var(--x), var(--initialY));
    width: var(--_initial-size);
    opacity: 1;
  }
  50% {
    width: 0.5vmin;
    opacity: 1;
  }
  100% {
    width: var(--_final-size);
    opacity: 0;
  }
}

/* @keyframes fireworkPseudo {
  0% { transform: translate(-50%, -50%); width: var(--_initial-size); opacity: 1; }
  50% { width: 0.5vmin; opacity: 1; }
  100% { width: var(--_final-size); opacity: 0; }
}
 */
