@layer base {
  html {
    /* Fallback fonts */
    --ksru-font-stack-system: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

    /* Font families */
    --ksru-font-family-jost: 'Jost', var(--ksru-font-stack-system, sans-serif);
    --ksru-font-family-libre-franklin: 'Libre Franklin', var(--ksru-font-stack-system, sans-serif);

    /* Content types */
    --ksru-font-family-heading: var(--ksru-font-family-jost, monospace);

    --ksru-font-family-body: var(--ksru-font-family-libre-franklin, sans-serif);

    --ksru-line-length: 70ch;

    --ksru-color-accent: #034752;
    --ksru-color-accent-light: #05ce78;
    --ksru-color-bg: #ffffff;
    --ksru-color-bg-loading: #ddd;
    --ksru-color-accent-rich: #ffcf56;
    --ksru-color-outline: var(--ksru-color-accent);
    --ksru-color-outline-accent: var(--ksru-color-accent-rich);

    --ksru-text-primary: #1a1b1f;
    --ksru-text-accent: #fff;

    font-size: 100%;

    scrollbar-color: var(--ksru-color-accent-light) var(--ksru-color-bg);
  }

  :is(p, ul, ol, dl, dt, dd, li, blockquote, pre, table, hr, embed, figure, figcaption, button) {
    margin: 0;
  }

  * + :is(p, ul, ol, dl, dt, dd, li, blockquote, pre, table, hr, embed, figure, figcaption, button) {
    margin-top: 0.75rem;
  }

  * + li {
    margin-top: 0.25rem;
  }

  body {
    font-family: var(--ksru-font-family-body);
  }

  a {
    display: inline;
    color: currentColor;

    text-decoration-thickness: 2px;
    text-underline-offset: 2px;
  }

  a:hover {
    text-decoration-thickness: 3px;
  }

  ul {
    padding-inline-start: 1.5rem;
  }

  ul[role] {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  ul[role] li {
    margin: 0;
    padding: 0;
  }

  dt {
    font-weight: 600;
  }
  * + dt {
    margin-top: 1rem;
  }
  dd {
    margin-left: 0;
    margin-top: 0.25rem;
  }

  html {
    scroll-behavior: smooth;
    scroll-padding: 6rem 0 0;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: var(--ksru-font-family-heading);
    line-height: 1.2;
    text-wrap: pretty;
  }

  /* Musical hexatonic scale: 𝑓ᵢ = 𝑓₀𝑟ⁱ⁄ⁿ, n=6, r=2, 𝑓₀=1em */
  h1 { font-size: 2em; }
  h2 { font-size: 1.7818em; }
  h3 { font-size: 1.5874em; }
  h4 { font-size: 1.4142em; }
  h5 { font-size: 1.2599em; }
  h6 { font-size: 1.1225em; }
  p { font-size: 1em; }
  small { font-size: .8909em; }

  img {
    max-width: 100%;
    height: auto;
  }

  hr {
    --_clr-1: color-mix(in lch, var(--ksru-color-accent), transparent 0%);
    --_clr-2: color-mix(in lch, var(--ksru-color-accent-light), transparent 50%);
    --_line: radial-gradient(circle at center, var(--_clr-1) max(128px, 33%), var(--_clr-2) 70%, transparent calc(100% - 64px), transparent);
    border: none;
    height: 2px;
    /* 32px - 96px, between 480px - 1024px viewport */
    margin: clamp(32px, -24.45px + 11.76vw, 96px) 0;
    background-image: var(--_line);

  }

  details::details-content {
    opacity: 1;
    block-size: 0;
    transition: block-size 300ms, content-visibility 300ms, opacity 300ms;
    transition-behavior: allow-discrete;
    overflow: clip;
  }

  details[open]::details-content {
    opacity: 1;
    block-size: auto;
  }

  :focus:focus-visible {
    --_color: var(--ksru-outline-color, var(--ksru-color-outline));
    --_offset: var(--ksru-outline-offset, 3px);
    outline: none;
    outline: 3px solid var(--_color);
    border-radius: 4px;
    outline-offset: var(--_offset);
  }

  button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font: inherit;
    color: inherit;
    padding: 0;
    text-align: inherit;
    text-decoration: underline;
    text-underline-offset: 2px;
    text-decoration-thickness: 2px;
  }
}

@layer components {
  button, .btn {
    display: inline-block;
    box-sizing: border-box;
    min-width: 44px;
    min-height: 44px;
    align-content: center;

    padding: 10px 20px;
    border-radius: 4px;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    width: 100%;
    text-decoration: none;
    color: var(--ksru-color-bg);
  }

  * + :is(button, .btn) {
    margin-top: 1rem;
  }


  .btn-primary {
    background: #222222;
  }

  .btn-primary:hover {
    background: #555555;
  }

  .btn-success {
    background: var(--ksru-color-accent-light);
  }

  .btn-success:hover {
    background: #039054;
  }

  .btn-info {
    background: #17a2b8;
  }

  .btn-info:hover {
    background: #138496;
  }
}

@layer components {
  /* MARK: .surface */
  @property --surface-border-angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
  }

  .surface {
    border-radius: 16px;
    padding: 1.5rem;
    position: relative;
    background: var(--ksru-color-bg);
  }


  .surface::before {
    --_clr-1: var(--surface-border-color, var(--ksru-color-accent));
    --_clr-2: color-mix(in oklch, var(--ksru-color-accent-light), transparent 80%);
    --_inset: var(--surface-border-inset, -2px);

    content: "";
    position: absolute;
    inset: var(--_inset);
    border-radius: inherit;
    corner-shape: inherit;
    z-index: -1;

    background: conic-gradient(from var(--surface-border-angle, 0deg) at center, var(--_clr-1), var(--_clr-2), var(--_clr-1), var(--_clr-2), var(--_clr-1));
  }

  .surface.breaking::before {
    rotate: 2deg;
  }

  @media (width > 600px) {
    .surface.breaking::before {
      inset: calc(var(--_inset) * 6);
    }
  }

  .surface.breaking {
    --_border-color: color-mix(in oklch, var(--ksru-color-accent-light), var(--ksru-color-accent) 50%);
    --_bgc: color-mix(in oklch, var(--ksru-color-accent-light), white 80%);
    background-color: color-mix(in oklch, var(--ksru-color-accent-light), white 90%);
    background-image: radial-gradient(circle at top right, transparent 0%, transparent 50%, var(--_bgc) 75%), radial-gradient(circle at bottom left, transparent 0%, transparent 50%, var(--_bgc) 75%);
    color: color-mix(in oklch, var(--ksru-color-accent), black 30%);
    border: 6px double var(--_border-color);
    box-shadow: 0 0 8px color-mix(in oklch, var(--ksru-color-accent), transparent 50%);
  }

  * + .surface {
    margin-top: 2rem;
  }

  @supports (corner-shape: squircle) {
    .surface {
      corner-shape: squircle;
      border-radius: 64px;
    }
  }

}

@keyframes surface-border-rotate {
  to {
    --surface-border-angle: 1turn;
  }
}

@layer components {
  /* MARK: .page */
  .page {
    display: grid;
    min-height: 100dvh;
    grid:
      "HEADER" auto
      "MAIN"   1fr
      "FOOTER" auto
      / [BLEED-start] 16px [FULL-start] 1fr [CONTENT] minmax(auto, var(--ksru-line-length)) 1fr [FULL-end] 16px [BLEED-end];
    gap: 0;
  }
  .page > * {
    grid-column: CONTENT;
  }

  .page__header,
  .page__footer {
    color: #ffffff;
    grid-column: BLEED;

    --ksru-outline-color: var(--ksru-color-outline-accent);
  }

  .page__header a,
  .page__footer a {
    text-decoration-thickness: auto;
  }


  /* MARK: .navigation */
  .navigation {
    z-index:1000;

    height: auto;
    align-self: end;
    justify-items: flex-end;
    --link-color: #FFF;
  }

  .navigation > * {
    justify-content: space-around;
  }

  .navigation a {
    border-radius: 4px;
    text-underline-offset: 2px;
  }

  .navigation a:not(:hover, :focus) {
    text-decoration: none;
  }

  .div-block-2 {
    margin-inline: 0;
    margin-block: 2em;
  }

  /* MARK: .social-links */
  .social-links {
    margin: 0;
    padding: 0;
    display: inline-flex;
    flex-wrap: wrap;
    gap: 16px;
  }

  .social-links > * {
    margin: 0;
    display: flex;
    gap: 4px;
  }

  .section, .section-2, .div-block {
    font-family: unset;
  }

  .body {
    font-size: unset;
    line-height: 1.6;
    font-family: var(--ksru-font-family-body);
  }
}

@layer components {
  .rally-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 1rem;
  }

  * + .rally-gallery {
    margin-top: 2rem;
  }

  .rally-gallery > * {
    margin-top: 0;
  }

  .rally {
    --_rad: 16px;
    display: grid;
    grid-row: span 3;
    grid-template-columns: subgrid;
    gap: 1rem;
    text-wrap: pretty;
  }

  .rally > * {
    margin-top: 0;
  }

  .rally img {
    border-radius: var(--_rad);
    corner-shape: squircle;
  }

  .rally figcaption {
    font-size: 0.875rem;
    color: var(--ksru-text-secondary, #444);
    margin-top: -0.5rem;
  }

  .rally__dialog {
    width: -moz-available;
    width: -webkit-fill-available;
    width: stretch;
    height: -moz-available;
    height: -webkit-fill-available;
    height: stretch;
    margin: 44px;
    box-sizing: border-box;
    background-color: transparent;
    border: none;
    outline: none;
    pointer-events: none;

    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out,
    overlay 0.5s ease-in-out allow-discrete,
    display 0.5s ease-in-out allow-discrete;

    opacity: 0;
    transform: translateY(1em);
  }

  .rally__dialog[open] {
    opacity: 1;
    transform: translateY(0);
  }

  .rally__dialog::backdrop {
    transition: display 0.5s allow-discrete, overlay 0.5s allow-discrete,
      background-color 0.5s;
    background-color: transparent;
  }

  .rally__dialog[open]::backdrop {
    background-color: color-mix(in oklch, color-mix(in oklch, var(--ksru-color-accent), black 50%), transparent 10%);
  }

  @starting-style {
    .rally__dialog[open] {
      opacity: 0;
      transform: translateY(-1em);
    }

    .rally-dialog::backdrop {
      background-color: transparent;
    }
  }

  .rally__dialog img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .rally__cta-group {
    --_bgc: var(--ksru-color-accent-light);

    border: 1px solid var(--_bgc);
    color: var(--ksru-text-primary);
    border-radius: var(--_rad);
    corner-shape: square square squircle squircle;
    padding-top: var(--_rad);
    margin-top: calc(-1 * var(--_rad));
    display: flex;
  }

  .rally__cta-group :is(button, .btn) {
    margin: 0;
    padding: 0.5em 0.75em;
    text-align: center;
    font: inherit;
    border: none;
    text-decoration: none;
    font-size: 0.875rem;
    font-weight: 500;
    flex: 1 1 0;
    color: var(--ksru-text-primary);
  }

  .rally__cta-group * + :is(button, .btn) {
    border-left: 1px solid color-mix(in oklch, var(--ksru-color-accent-light), white 20%);
  }

  .rally__cta {
    display: inline-block;
    padding: 0.5rem 1rem;
    text-align: center;
    font: inherit;
    font-weight: 500;
    border: 1px solid var(--ksru-color-accent);
    background-color: var(--ksru-color-accent);
    color: var(--ksru-text-accent);
    border-radius: var(--_rad);
    corner-shape: squircle;
    text-decoration: none;
  }
}

@layer components {
  .deck {
    --scalar: 9;
    display: grid;
    position: fixed;
    top: calc(100% - 3lh);
    top: 6lh;
    z-index: 1;
    isolation: isolate;
    align-items: start;
    transition: top 300ms ease;

    > * {
      grid-column: 1;
      grid-row: 1;
      margin-top: 0;
    }
  }

  .deck:hover, .deck:focus-within {
    /* top: calc(100% - 6lh); */
  }
  .deck-card {
    --ease-squish-4: cubic-bezier(.5,-.7,.1,1.5);
    --ease-in-out-3: cubic-bezier(.5,0,.5,1);
    max-width: 30ch;
    height: unset !important;
    aspect-ratio: 2.5 / 3.5;
    transform-origin: bottom center;
    transform: rotate(var(--r, 0deg)) translateY(var(--t, 0px));
    transition: transform-origin .5s var(--ease-squish-4),transform .25s var(--ease-in-out-3);

    background-color: white;
    color: black;
    padding: 1.5rem;
    border: inherit;
    border-radius: inherit;
  }

  .deck-card:hover, .deck-card:focus-within {
    --t: -3lh;
  }

  .deck-card:nth-of-type(1) {
    --r: 0deg;
  }

  .deck-card:nth-of-type(2) {
    --r: calc(-1 * var(--scalar) * 1deg);
    z-index: -1;
  }
  .deck-card:nth-of-type(3) {
    --r: calc(-1 * var(--scalar) * -1deg);
    z-index: -2;
  }
  .deck-card:nth-of-type(4) {
    --r: calc(-1 * var(--scalar) * 2deg);
    z-index: -3;
  }
  .deck-card:nth-of-type(5) {
    --r: calc(-1 * var(--scalar) * -2deg);
    z-index: -4;
  }

}

@layer components {
  /* MARK: .highlight */
  .highlight {
    --_color: var(--highlight-color, var(--ksru-color-accent-rich));
    --_lighter-pressure: color-mix(in oklch, var(--_color), transparent 40%);
    --_tail: color-mix(in oklch, var(--_lighter-pressure), transparent 60%);
    padding: 0 0.2em;

    @supports (corner-shape: squircle) {
      corner-shape: squircle bevel;
      border-radius: 50% / 0.2lh 0.4lh 0rem 0.25lh;
    }

    background-color: transparent;
    background-image: linear-gradient(to right, var(--_color), var(--_lighter-pressure), calc(100% - 2ch), var(--_tail));

    /* Prevents background-break when wrapping */
    box-decoration-break: clone;
    font-weight: bold;


    position: relative;
    isolation: isolate;
  }

}

/* MARK: .embed */
@layer components {
  .embed {
    max-width: 100%;
    height: auto;
    background-color: var(--ksru-color-bg-loading);
  }

  * + .embed {
    margin-top: 1rem;
  }

  .embed--video {
    aspect-ratio: 16 / 9;
    border-radius: 16px;
  }
}

/* MARK: .media */
@layer components {

    * + .media {
      margin-top: 1rem;
    }

  @media screen and (min-width: 768px) {
    .media {
      display: grid;
      grid-template-columns: minmax(30ch, 0.5fr);
      grid-auto-flow: column;
      grid-auto-columns: 1fr;
      gap: 1rem 2rem;
    }

    .media > * {
      margin: 0;
    }

    .media > :first-child {
      position: sticky;
      top: 6rem;
    }

    .media__details {
      align-self: center;
    }
  }
}

/* MARK: .solidarity */
@layer components {
  .solidarity {}

  * + .solidarity {
    margin-top: 1rem;
  }

  .solidarity__links {
    display: flex;
    gap: 0.25rem 1rem;
    flex-wrap: wrap;
  }

  .solidarity__list {
    --_gap: 1rem;
    --_border: 1px solid #ccc;
    --_border-radius: 32px;
    --_padding: 1rem;
    --surface-border-inset: -3px;

    padding: 0;
    border-radius: var(--_padding);

  }

  .solidarity__list > * {
    border: inherit;
    corner-shape: inherit;
    /* overflow: hidden; */
  }

  .solidarity__list :is(details, summary) {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
    corner-shape: inherit;
    overflow: hidden;
  }



  .solidarity__list > *:first-child {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
  }

  .solidarity__list > *:last-child {
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
  }

  * + .solidarity__list {
    margin-top: 1rem;
  }

  .solidarity details {
    background-color: transparent;
  }

  .solidarity__list {
    background-color: transparent;
  }



  .solidarity__list::before {
    --_stop-1: var(--ksru-color-accent-light);
    --_stop-2: color-mix(in oklch, var(--_stop-1), var(--_stop-5) 25%);
    --_stop-3: color-mix(in oklch, var(--_stop-1), var(--_stop-5) 50%);
    --_stop-4: color-mix(in oklch, var(--_stop-1), var(--_stop-5) 75%);
    --_stop-5: var(--ksru-color-accent);
    --_stop-size: 3lh;

    background-position: top right;
    background-size: auto 100%;

    /* cool stripe effect */
    background-image: linear-gradient(
      225deg,
      var(--_stop-1),
      var(--_stop-1) var(--_stop-size),
      var(--_stop-2) var(--_stop-size),
      var(--_stop-2) calc(var(--_stop-size) * 2),
      var(--_stop-3) calc(var(--_stop-size) * 2),
      var(--_stop-3) calc(var(--_stop-size) * 3),
      var(--_stop-4) calc(var(--_stop-size) * 3),
      var(--_stop-4) calc(var(--_stop-size) * 4),
      var(--_stop-5) calc(var(--_stop-size) * 4),
      var(--_stop-5) calc(var(--_stop-size) * 5)
    );
  }

  .solidarity__item ::details-content {
    background-color: white;
  }

  .solidarity__item summary {
    --ksru-outline-color: var(--ksru-color-outline-accent);
    --ksru-outline-offset: -5px;
    cursor: pointer;
    padding: var(--_padding);
    font-weight: 600;

    transition: background-color 100ms ease, color 100ms ease;
    background-color: white;
    color: var(--ksru-color-accent);
  }

  * + .solidarity__item summary {
    border-top: 1px solid transparent;
    background-clip: padding-box;
  }

  .solidarity__item summary:hover,
  .solidarity__item summary:focus:focus-visible,
  .solidarity__item [open] summary {
    background-color: transparent;
    color: white;
  }

  .solidarity__item summary:active {
    background-color: hsl(from black h s l / 0.1);
    color: white;
  }

  .solidarity__item summary + * {
    margin-top: 0;
  }

  .solidarity__item summary ~ * {
    padding: 1.5rem;
  }
}

/* MARK: Legacy styles */
@layer legacy {

body {
  font-family: Montserrat, sans-serif;
  color: #1a1b1f;
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
}

h1 {
  margin-top: 20px;
  margin-bottom: 15px;
  font-size: 44px;
  line-height: 62px;
  font-weight: 400;
}

h2 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 36px;
  line-height: 50px;
  font-weight: 400;
}

h3 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 30px;
  line-height: 46px;
  font-weight: 400;
}

h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 24px;
  line-height: 38px;
  font-weight: 400;
}

h5 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 20px;
  line-height: 34px;
  font-weight: 500;
}

h6 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 28px;
  font-weight: 500;
}

p {
  margin-bottom: 10px;
}

a {
  display: block;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  color: #1a1b1f;
  text-decoration: underline;
}


ul {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 40px;
  list-style-type: disc;
}

li {
  margin-bottom: 10px;
}

img {
  display: block;
}

label {
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 20px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.container {
  width: 100%;
  max-width: 1140px;
  margin-right: auto;
  margin-left: auto;
}

.section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 0px;
  margin-left: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.navigation {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 72px;
  padding: 16px 32px;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  background-color: #519758;
  background-image: linear-gradient(135deg, #034752, #05ce78), linear-gradient(180deg, #000, #fff);
}

._404-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  padding: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #1a1b1f;
}

._404-content-wrap {
  margin-bottom: 20px;
}

.protected-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 90px;
  padding-bottom: 100px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}

.protected-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.protected-heading {
  margin-bottom: 30px;
}

.image {
  margin-top: 16px;
  margin-bottom: 16px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.section-2 {
  width: auto;
  max-width: 1140px;
}

* + .section-2 {
  margin-top: 32px;
}

.section-3 {
  margin-right: 30px;
  margin-left: 30px;
}

.days-on-strike {
  margin-right: auto;
  margin-left: auto;
  width: auto;
  border: 5px solid var(--ksru-color-accent-light);
  border-radius: 28px;
  padding: clamp(20px, 3vw, 36px);
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

* + .days-on-strike {
  margin-top: 32px;
}

.days-on-strike .day-count {
  font-size: 3em;
  display: block;
  color: var(--ksru-color-accent-light);
  visibility: hidden;
}

.days-on-strike .pump {
  text-align: center;
  font-size: 1.6em;
  display: block;
}

.collection-list-wrapper {
  margin-right: 30px;
  margin-left: 30px;
}

.collection-list {
  display: block;
}

.collection-list-wrapper-2 {
  margin-right: 30px;
  margin-left: 30px;
  font-family: Inconsolata, monospace;
}

.section-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.paragraph {
  margin-top: 32px;
  padding-top: 0px;
}

.paragraph > a {
  display: inline;
}

li > a {
  display: inline;
}

.div-block {
  position: relative;
  font-family: Inconsolata, monospace;
}

.body {
  font-family: Inconsolata, monospace;
}

.collection-list-wrapper-3 {
  display: block;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.collection-list-2 {
  display: block;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.heading-3 {
  margin-top: 32px;
}

.div-block-2 {
  margin-right: 32px;
  margin-left: 32px;
}

.div-block-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  color: #fff;
}

.section-7 {
  display: block;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  background-color: #519758;
  background-image: -webkit-gradient(linear, left top, right top, from(#034752), to(#05ce78));
  background-image: linear-gradient(90deg, #034752, #05ce78);
}

.text-block {
  display: block;
  margin-bottom: 0px;
  padding: 16px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  color: #fff;
  text-align: center;
}

}

@layer legacy {













@media (max-width: 991px) {

  .navigation {
    padding: 25px 30px;
  }

  .div-block-2 {
    margin-right: 12px;
    margin-left: 12px;
  }
}

@media (max-width: 767px) {
  .container {
    text-align: center;
  }
  .section {
    margin-right: 15px;
    margin-left: 15px;
  }
  .paragraph-bigger {
    font-size: 16px;
    line-height: 28px;
  }
  .navigation {
    padding: 20px 30px;
  }
  ._404-wrap {
    padding: 30px;
  }
}

@media (max-width: 479px) {
  .navigation {
    padding-right: 20px;
    padding-left: 20px;
  }
}

a.footer {
  color: #fff;
  display: inline;
  text-decoration: none;
}

}
