@layer components {
  .dialog {
    /* gotta manually override dialog user styles */
    width: auto;
    height: auto;
    max-height: none;
    overflow: auto;

    flex-direction: column;
    align-items: stretch;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
  }

  .dialog--drawer {
    /* Attach to the right of the viewport */
    inset-block: 0;
    inset-inline: auto 0;
  }

  .dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3.5px);
  }

  dialog.dialog[open] {
    display: flex;
  }

  .dialog [command="close"] {
    align-self: flex-end;
  }
}
