.section
  %img.image{:alt => "Kickstarter United Logo", :src => "images/logo.svg", :width => "256"}/
.section-2
  %h1 Our Next Contract
  %p.paragraph
    In July of 2025 we began bargaining with the management at Kickstarter for our second union contract (our
    %a{:href => "/contracts/2022", :style => "display: inline;"} first
    was won in 2022). From the outset we have been clear with
    management that our top priorities for this contract are codifying the
    %strong 4-day, 32-hour work week
    as the standard,
    %strong raising the minimum salary
    for all members of the bargaining unit, and
    %strong establishing protections against AI tools replacing workers.
    While we are proud of the progress we have made in some areas,
    management remains intransigent the issues of the 4-day work week and minimum salaries.
  -# %p
  -#   For more information, see our
  -#   %a{:href => "#faq", :style => "display: inline"} FAQ


.section-2
  %h2 What You Can Do
  %div.rally__toc
    %ul.rally__links{role: "list"}
      %li
        %a{ href: "#solidarity-fund" } Donate
      %li
        %a{ href: "#solidarity-petition" } Sign
      %li
        %a{ href: "#solidarity-rally" } Watch

  %section#solidarity-fund
    - go_fund_me_url = "https://www.gofundme.com/f/support-kickstarter-united-workers"
    %header
      %h3 Donate to Our Solidarity Fund
      %p
        On Labor Day we launched our Solidarity fund on GoFundMe. If management forces a strike,
        this GoFundMe will help our most vulnerable workers weather the hardship of pay-stoppage.
    %article.fund
      .fund__main
        %div.gfm-embed{ data: { url: "https://www.gofundme.com/f/support-kickstarter-united-workers/widget/medium?sharesheet=undefined&attribution_id=sl:c9a70e0a-71b0-4f51-9fd6-16cb0de227df" } }
        %script{ src: "https://www.gofundme.com/static/js/embed.js", defer: true }

      .fund__aside
        %p
          If we reach an agreement without striking, we will refund any donation on request and roll
          the remaining funds into a sympathetic solidarity and/or hardship fund to help our fellow workers

  %section#solidarity-petition{ style: "margin-top: 2rem;" }
    %h3 Sign Our Solidarity Petition

    %p.paragraph
      We are asking
      %strong you
      to sign this petition to support our fight to codify our 4-day work
      week and a livable minimum salary for all members of our bargaining unit. Please read our
      %a{:href => "https://actionnetwork.org/petitions/ksru-solidarity-petition", :style => "display: inline"} full petition text
      and sign your name below.
    %p
      %link{:href => "https://actionnetwork.org/css/style-embed-v3.css", :rel => "stylesheet", :type => "text/css"}
      %script{:src => "https://actionnetwork.org/widgets/v5/petition/ksru-solidarity-petition?format=js&source=widget"}
      #can-petition-area-ksru-solidarity-petition
        -# {:style => "width: 70%; margin: 0 auto;"}
        -# this div is the target for our HTML insertion

  %section#solidarity-rally{ style: "margin-top: 2rem;" }
    - rally_recording_url = "https://us06web.zoom.us/rec/share/6OKlx_dx69PNAN5KD4RXHGUEMnJ4guwswqFwYpm00wfOAAs7JTyy847bMTYFgPfH.tu_yKEq1X0jhpnSB"
    %header
      %h3 Watch Our Solidarity Rally

      %p On September 5th, we held a public virtual rally to support our fight for a fair contract.
      %p
        We featured unionized tech workers who’ve gone on strike, elected representatives who support a 32-hour week, and
        Kickstarter United members discussing our our demands and our union.

    %article.rally
      .rally__main
        %iframe{width: "560", height: "315", src: "https://www.youtube.com/embed/BqjoIgS3-kU?si=vwrh0FGqfbNWM-8p", title: "YouTube video player", frameborder: "0", allow: "accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share", referrerpolicy: "strict-origin-when-cross-origin", allowfullscreen: true}

      .rally__aside
        %h4 Featured speakers and supporters
        %ul
          %li
            %b The New York Times Tech Guild:
            John Cruickshank and Kait Hoehne, leaders in last year’s groundbreaking strike.
          %li
            %b Alphabet Workers Union:
            Parul Koul, president, sharing organizing lessons from big tech.
          %li
            %b New York State Assembly:
            Emily Gallagher and Phara Souffrant Forrest, sponsors of 32-hour week legislation.
          %li
            %b Seattle:
            Kshama Sawant, former City Council member and current candidate for the United States Congress, advocating a 30-hour week and a $25 per hour minimum wage.


    / Structured data for better event previews
    %script{ type: "application/ld+json" }
      :plain
        {
          "@context": "https://schema.org",
          "@type": "Event",
          "name": "Kickstarter United - Solidarity Rally",
          "startDate": "2025-09-05T17:00:00-04:00",
          "endDate": "2025-09-05T18:00:00-04:00",
          "eventAttendanceMode": "https://schema.org/OnlineEventAttendanceMode",
          "eventStatus": "https://schema.org/EventScheduled",
          "description": "Kickstarter United is rallying support for a fair contract: a codified four-day, 32-hour workweek, a company-wide minimum salary, and protections against replacement by contractors or AI.",
          "organizer": {
            "@type": "Organization",
            "name": "Kickstarter United (OPEIU Local 153)"
          },
          "location": {
            "@type": "VirtualLocation",
            "url": "#{rally_recording_url}"
          },
          "offers": {
            "@type": "Offer",
            "url": "#{rally_recording_url}",
            "price": "0",
            "priceCurrency": "USD",
            "availability": "https://schema.org/InStock"
          },
          "performer": [
            {
              "@type": "Organization",
              "name": "The New York Times Tech Guild",
              "member": [
                { "@type": "Person", "name": "John Cruickshank" },
                { "@type": "Person", "name": "Kait Hoehne" }
              ]
            },
            {
              "@type": "Organization",
              "name": "Alphabet Workers Union",
              "member": [
                { "@type": "Person", "name": "Parul Koul", "jobTitle": "President" }
              ]
            },
            {
              "@type": "Person",
              "name": "Emily Gallagher",
              "jobTitle": "New York State Assemblymember"
            },
            {
              "@type": "Person",
              "name": "Phara Souffrant Forrest",
              "jobTitle": "New York State Assemblymember"
            },
            {
              "@type": "Person",
              "name": "Kshama Sawant",
              "jobTitle": "Former Seattle City Councilmember and candidate for the United States Congress"
            }
          ],
          "image": [
            "https://kickstarterunited.org/images/logo.svg"
          ]
        }


