.section
  %img.image{:alt => "Kickstarter United Logo", :src => "images/logo.svg", :width => "256"}/



%article.surface.breaking
  %h2 A Resounding YES to Strike ✊

  %p
    On September 26, 2025,
    %strong 85% of Kickstarter United (OPEIU Local 153) members
    %strong voted to authorize a strike
    beginning Thursday, October 2 at 8 a.m. unless management reaches a fair contract agreement.

  %p Our demands are simple:

  %ul
    %li Protect the 32-hour, 4-day workweek that’s been in place for over three years.
    %li Establish a minimum salary that provides a livable wage for all workers.

  %p
    Read the full press release from OPEIU here:
    %a{href: "https://www.opeiulocal153.org/news/kickstarter-united-opeiu-153-workers-authorize-strike-demanding-four-day-workweek-and-minimum-salary"}
      Kickstarter United-OPEIU 153 Workers Authorize Strike Demanding Four-Day
      Workweek and Minimum Salary

%hr/

.section-2
  %h1 Our Next Contract
  %p.paragraph
    In July of 2025 we began bargaining with the management at Kickstarter for our second union contract (our
    %a{:href => "/contracts/2022", :style => "display: inline;"} first contract
    was won in 2022). From the outset we have been clear with
    management that our top priorities are codifying the
    %strong#4dww-defn 4-day, 32-hour work week (4DWW)
    as the standard and
    %strong raising the minimum salary
    for all members of the bargaining unit.
    While we are proud of the progress we have made in some areas,
    management
    %em continues to block real progress
    on the
    %span{"aria-labelledby": "4dww-dfn"} 4DWW
    and fair minimum salaries.

  %p
    For more information, see our
    %a{href: "/faq", "aria-label": "Frequently asked questions"} FAQ

%hr/

.section-2.solidarity
  %h2 What You Can Do
  %ul.solidarity__links{role: "list"}
    %li
      %a{ href: "#solidarity-fund" } Donate
    %li
      %a{ href: "#solidarity-petition" } Sign
    %li
      %a{ href: "#board-letter" } Read
    %li
      %a{ href: "#solidarity-rally" } Watch


  %p
    With management refusing to move on the 4-day week and fair pay,
    %strong we need you to stand with us more than ever.
    Here’s how you can take action today:

  %article.surface#solidarity-fund
    - go_fund_me_url = "https://www.gofundme.com/f/support-kickstarter-united-workers"
    %header
      %h3 Donate to Our Solidarity Fund
      %p
        On Labor Day we launched our Solidarity fund on GoFundMe. If management forces a strike,
        this GoFundMe will help our most vulnerable workers weather the hardship of pay-stoppage.
    .media
      %div
        %div.gfm-embed{ data: { url: "https://www.gofundme.com/f/support-kickstarter-united-workers/widget/medium?sharesheet=undefined&attribution_id=sl:c9a70e0a-71b0-4f51-9fd6-16cb0de227df" } }
        %script{ src: "https://www.gofundme.com/static/js/embed.js", defer: true }

      %p.media__details
        If we reach an agreement without striking, we will refund any donation
        on request and roll the remaining funds into a sympathetic solidarity
        and/or hardship fund to help our fellow workers

  %article.surface#solidarity-petition
    %h3 Tell Kickstarter Management: Meet Workers' Demands

    %p
      %strong We're fighting for a fair contract
      that protects our 4-day, 32-hour work
      week and raises pay for the lowest-paid employees. Unless management acts,
      we are prepared to strike on October 2. Read our
      %a{href: "https://actionnetwork.org/letters/tell-kickstarter-management-meet-your-workers-demands-to-avoid-a-strike"}
        full petition text
      and

      %strong sign now to help us avoid a strike!

    %div
      %link{:href => "https://actionnetwork.org/css/style-embed-v3.css", :rel => "stylesheet", :type => "text/css"}
      %script{:src => "https://actionnetwork.org/widgets/v5/letter/tell-kickstarter-management-meet-your-workers-demands-to-avoid-a-strike?format=js&source=widget"}
      #can-letter-area-tell-kickstarter-management-meet-your-workers-demands-to-avoid-a-strike
        -# {:style => "width: 70%; margin: 0 auto;"}
        -# this div is the target for our HTML insertion

  %article.surface#board-letter
    %header
      %h3 Read our Appeal to the Board
      %p
        At the bargaining table, Kickstarter management keeps passing the buck, claiming they can’t codify the 4-day work week because
        “they don’t own the company.” So we went straight to the board.
      %p
        Many board members have built careers around innovative, socially driven business models and Kickstarter was chartered as a PBC to meaningfully commit to those values.
        We felt the board should know management’s actions at the table don’t align with that ethos.
      %p
        Their response? A brief dismissal of our concerns and a rejection of our invitation to the table.
      %p
        We implore the board to do the right thing and marry their actions to their words by supporting our cause.
      %p
        %strong Read the full letter below
        %embed{ src: '/docs/letter_to_the_board.pdf', type: 'application/pdf', width: '100%', height: '600px' }

  %article.surface#solidarity-rally
    - rally_recording_url = "https://us06web.zoom.us/rec/share/6OKlx_dx69PNAN5KD4RXHGUEMnJ4guwswqFwYpm00wfOAAs7JTyy847bMTYFgPfH.tu_yKEq1X0jhpnSB"
    %header
      %h3 Watch Our Solidarity Rally

      %p On September 5th, we held a public virtual rally to support our fight for a fair contract.
      %p
        We featured unionized tech workers who’ve gone on strike, elected representatives who support a 32-hour week, and
        Kickstarter United members discussing our our demands and our union.

    .media
      %iframe.embed.embed--video{width: "1024", height: "576", src: "https://www.youtube.com/embed/BqjoIgS3-kU?si=vwrh0FGqfbNWM-8p", title: "Kickstarter United Solidarity Rally – September 2023", frameborder: "0", allow: "accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share", referrerpolicy: "strict-origin-when-cross-origin", allowfullscreen: true}

      .media__details
        %h4 Featured speakers and supporters
        %ul
          %li
            %b The New York Times Tech Guild:
            John Cruickshank and Kait Hoehne, leaders in last year’s groundbreaking strike.
          %li
            %b Alphabet Workers Union:
            Parul Koul, president, sharing organizing lessons from big tech.
          %li
            %b New York State Assembly:
            Emily Gallagher and Phara Souffrant Forrest, sponsors of 32-hour week legislation.
          %li
            %b Seattle:
            Kshama Sawant, former City Council member and current candidate for the United States Congress, advocating a 30-hour week and a $25 per hour minimum wage.


