.section
  %img.image{:alt => "Kickstarter United Logo", :src => "images/logo.svg", :width => "256"}/
.section-2
  %h3 Our Next Contract
  %p.paragraph
    In July of 2025 we began bargaining with the management at Kickstarter for our second union contract (our
    %a{:href => "/contracts/2022", :style => "display: inline;"} first
    was won in 2022). From the outset we have been clear with
    management that our top priorities for this contract are codifying the
    %strong 4-day, 32-hour work week
    as the standard,
    %strong raising the minimum salary
    for all members of the bargaining unit, and
    %strong establishing protections against AI tools replacing workers.
    While we are proud of the progress we have made in some areas,
    management remains intransigent the issues of the 4-day work week and minimum salaries.
  -# %p
  -#   For more information, see our
  -#   %a{:href => "#faq", :style => "display: inline"} FAQ
.section-2
  %h3 What You Can Do
  %p.paragraph
    We are asking
    %strong you
    to sign this petition to support our fight to codify our 4-day work
    week and a livable minimum salary for all members of our bargaining unit. Please read our
    %a{:href => "https://actionnetwork.org/petitions/ksru-solidarity-petition", :style => "display: inline"} full petition text
    and sign your name below.
  %p
    %link{:href => "https://actionnetwork.org/css/style-embed-v3.css", :rel => "stylesheet", :type => "text/css"}
    %script{:src => "https://actionnetwork.org/widgets/v5/petition/ksru-solidarity-petition?format=js&source=widget"}
    #can-petition-area-ksru-solidarity-petition
      -# {:style => "width: 70%; margin: 0 auto;"}
      -# this div is the target for our HTML insertion
-# #faq.section-2
-#   %h3 Frequently Asked Questions
-#   %p.paragraph
-#     %h4 Lorem ipsum
