.section
  %img.image{:alt => "", :src => "images/logo.svg", :width => "256"}/
#about.section-2
  %p.paragraph
    On February 18th, 2020, Kickstarter employees voted to form a union,
    becoming the first major tech company in the United States to do so.
    We took this step in order to invest deeply in our collective future
    at the company we love, to create a workplace that is safer and more
    equitable for all, and to support organizing efforts across the tech
    industry and the many creative communities our work touches. We are
    proud to call ourselves members of OPEIU Local 153.
  %p
    There is nowhere better-suited than Kickstarter to understand the
    elation of completing a successful campaign while knowing that the
    real work is still ahead. As we begin bargaining our first contract,
    we will remain true to the values that informed our organizing:
    transparency, inclusion, solidarity, accountability, and joy.
  %p The pillars around which we organized include:
  %ul
    %li
      Equitable compensation across positions, creating equal pay for
      equal work.
    %li Diversity and inclusion in every aspect of the company.
    %li
      Fair, transparent, and consistently implemented processes around
      hiring, firing, professional growth, and disciplinary action.
    %li
      Policies that prioritize employee wellness, safety, and mental
      health.
    %li
      The preservation of a company culture that fosters a sense of
      community and collaboration throughout the workplace.
    %li
      The proactive inclusion of employees in company-wide decisions
      that affect us all.
  %p
    Since its founding, Kickstarter has been a progressive,
    forward-thinking corporate player. In 2015, the company was
    reincorporated as a Public Benefit Corporation. This framework
    recognizes that our responsibility extends well beyond shareholders,
    committing us as a company to the pursuit of just, responsible, and
    equitable business practices. We believe that unionizing furthers
    these aims, while also allowing us to advocate for workers’ rights,
    which is an inherent aspect of fighting inequality. Utilizing
    workers’ collective power to improve our workplace is a natural
    extension of Kickstarter’s mission, encouraging every employee to
    safeguard and enrich our charter commitments to creativity, equity,
    and a positive impact on society.
#press.section-2
  %h2.heading-3 Selected Press Coverage:
  .collection-list-wrapper-3.w-dyn-list
    .collection-list-2.w-dyn-items
      .w-dyn-item
        %h5 01) New York Times
        .w-richtext
          %a{:href => "https://www.nytimes.com/2020/02/18/technology/kickstarter-union.html"}
            “Kickstarter Employees Vote to Unionize in a Big Step for Tech”
      .w-dyn-item
        %h5 02) Washington Post
        .w-richtext
          %a{:href => "https://www.washingtonpost.com/business/2020/02/18/kickstarter-forms-union/"}
            “Kickstarter staff votes to unionize, a sign of rising labor tensions in tech”
      .w-dyn-item
        %h5 03) The Guardian
        .w-richtext
          %a{:href => "https://www.theguardian.com/us-news/2020/feb/18/kickstarter-union-crowdfunding-tech"}
            “Kickstarter workers vote to unionize amid growing industry unrest”
      .w-dyn-item
        %h5 04) Vice
        .w-richtext
          %a{:href => "https://www.vice.com/en_us/article/3a8pp5/kickstarter-employees-win-historic-union-election"}
            “Kickstarter Employees Win Historic Union Election”
      .w-dyn-item
        %h5 05) Forbes
        .w-richtext
          %a{:href => "https://www.forbes.com/sites/mattperez/2020/02/18/kickstarter-staff-votes-to-unionize-paving-the-way-for-other-tech-workers/#73e8a73404f0"}
            “Kickstarter Staff Votes To Unionize, Paving The Way For Other Tech Workers”
      .w-dyn-item
        %h5 06) Buisness Insider
        .w-richtext
          %a{:href => "https://www.businessinsider.com/kickstarter-union-employees-tech-workers-2020-2"}
            “Kickstarter has unionized, becoming the first tech company to do so as workers organize across the industry”
      .w-dyn-item
        %h5 07) The Verge
        .w-richtext
          %a{:href => "https://www.theverge.com/2020/2/18/21142308/kickstarter-employee-vote-union-unionize"}
            “Kickstarter employees vote to unionize”