-# .section
-#   %img.image{:alt => "A screenshot of a Zoom meeting where our Bargaining Unit members were celebrating their first contract", :src => "/images/first_contract/BU.png"}/
-# %hr/

.section-2
  %h2.heading-3
    Our second contract
  %p.paragraph
    Watch this space!
