%a.menu__item{href: "/about"} About Us
%a.menu__item{href: "/oral-history"} Oral History
%a.menu__item{href: "/every-worker-needs-a-union"} Every Worker Needs a Union
%a.menu__item{href: "https://docs.google.com/forms/d/e/1FAIpQLSd3JgEtyy72nD6zAwdZsIMeJ5PMg3pIOtkwR7l1uooCJI9bTA/viewform", target: "_blank"} Contact Us
