!!!
%html{"data-wf-page" => "5ce75a59757fff6268d29f8b", "data-wf-site" => "5ce75a58757fffbe19d29f88"}
  %head
    %meta{:charset => "utf-8"}/
    %title Kickstarter United
    %meta{:content => "Kickstarter United", :property => "og:title"}/
    %meta{:content => "/images/logo.svg", :property => "og:image"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/

    %link{rel: "preconnect", href: "https://fonts.googleapis.com"}
    %link{rel: "preconnect", href: "https://fonts.gstatic.com", crossorigin: true}
    %link{href: "https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap", rel: "stylesheet"}

    %style @layer normalize, legacy, base, components, utilities;
    %link{:href => "/css/output.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "/images/favicon.ico", :rel => "shortcut icon", :type => "image/x-icon"}/
    %link{:href => "/images/webclip.png", :rel => "apple-touch-icon"}/

    %script{src: "https://unpkg.com/invokers-polyfill@latest/invoker.min.js", type: "module", async: true}
    %script{src: "https://cdn.jsdelivr.net/npm/@oddbird/popover-polyfill@latest", crossorigin: "anonymous", nomodule: true, async: true}

  %body.body
    .page.div-block
      %header.page__header.navigation{"data-animation" => "default", "data-collapse" => "medium", "data-duration" => "400"}
        %a.link.sr-only{href: "#content"} Skip to main content
        %nav.div-block-3
          %a.link{:href => "/"} Home
          %a.link{:href => "/about"} About Us
          %a.link{:href => "/contracts/2022"} Our Contract
          %a.link{:href => "/logos/"} Logo Generator
          %a.link{:href => "/press"} Press
          %a.link{:href => "https://docs.google.com/forms/d/e/1FAIpQLSd3JgEtyy72nD6zAwdZsIMeJ5PMg3pIOtkwR7l1uooCJI9bTA/viewform", :target => "_blank"} Contact
          %a.link{:href => "/socials/"} Socials
          %a.link{:href => "/faq"} FAQ

      %main.page__content#content.div-block-2
        != yield
      %footer.page__footer.section-7
        .text-block
          -# NOTE: When updating, also update pages/socials/index.haml
          %ul.social-links{"aria-label": "Follow us on social media"}
            %li
              🦋
              %a{:href => "https://bsky.app/profile/kickstarterunited.org", :rel => "me", :target => "_blank"} Bluesky
            %li
              📷
              %a{:href => "https://www.instagram.com/kickstarter_united", :rel => "me", :target => "_blank"} Instagram
            %li
              💼
              %a{:href => "https://www.linkedin.com/in/kickstarter-united-4924ba37b/", :rel => "me", :target => "_blank"} LinkedIn
            %li
              🐘
              %a{:href => "https://union.place/@kickstarterunited", :rel => "me", :target => "_blank"} Mastodon
            %li
              💩
              %a{:href => "https://twitter.com/ksr_united", :target => "_blank"} Twitter
          %br
          © Copyright 2025 Kickstarter United
    %script{:crossorigin => "anonymous", :integrity => "sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=", :src => "https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.4.1.min.220afd743d.js", :type => "text/javascript"}
    -# %script{:src => "js/webflow.js", :type => "text/javascript"}
    / [if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif]
