%a.menu__item{href: "/faq"} FAQ
%a.menu__item{href: "/logos"} Logo Generator
%a.menu__item{href: "/press"} Press
%a.menu__item{href: "/socials"} Socials
%a.menu__item{href: "/union-assets"} Creator Assets
