#press.section
  %h2.heading-3 Selected Press and Media Coverage:
  .collection-list-wrapper-3.w-dyn-list
    .collection-list-2.w-dyn-items
      .w-dyn-item
        %h5 01) New York Times
        .w-richtext
          %a{:href => "https://www.nytimes.com/2020/02/18/technology/kickstarter-union.html"}
            “Kickstarter Employees Vote to Unionize in a Big Step for Tech”
      .w-dyn-item
        %h5 02) Washington Post
        .w-richtext
          %a{:href => "https://www.washingtonpost.com/business/2020/02/18/kickstarter-forms-union/"}
            “Kickstarter staff votes to unionize, a sign of rising labor tensions in tech”
      .w-dyn-item
        %h5 03) The Guardian
        .w-richtext
          %a{:href => "https://www.theguardian.com/us-news/2020/feb/18/kickstarter-union-crowdfunding-tech"}
            “Kickstarter workers vote to unionize amid growing industry unrest”
      .w-dyn-item
        %h5 04) Vice
        .w-richtext
          %a{:href => "https://www.vice.com/en_us/article/3a8pp5/kickstarter-employees-win-historic-union-election"}
            “Kickstarter Employees Win Historic Union Election”
      .w-dyn-item
        %h5 05) Forbes
        .w-richtext
          %a{:href => "https://www.forbes.com/sites/mattperez/2020/02/18/kickstarter-staff-votes-to-unionize-paving-the-way-for-other-tech-workers/#73e8a73404f0"}
            “Kickstarter Staff Votes To Unionize, Paving The Way For Other Tech Workers”
      .w-dyn-item
        %h5 06) Business Insider
        .w-richtext
          %a{:href => "https://www.businessinsider.com/kickstarter-union-employees-tech-workers-2020-2"}
            “Kickstarter has unionized, becoming the first tech company to do so as workers organize across the industry”
      .w-dyn-item
        %h5 07) The Verge
        .w-richtext
          %a{:href => "https://www.theverge.com/2020/2/18/21142308/kickstarter-employee-vote-union-unionize"}
            “Kickstarter employees vote to unionize”
      .w-dyn-item
        %h5 08) Kickstarter Union Oral History
        .w-richtext
          %a{:href => "https://engelberg-center-live.simplecast.com/"}
            “A podcast featuring an oral history directly from our organizers and members”
      .w-dyn-item
        %h5 09) Crain's New York
        .w-richtext
          %a{:href => "https://www.crainsnewyork.com/labor-unions/kickstarter-workers-win-profit-sharing-and-guaranteed-raises-first-union-contract"}
            “Kickstarter workers win profit sharing and guaranteed raises in first union contract”
.section-2