---
import SocialLinks from "../components/SocialLinks/SocialLinks.astro";
import "../styles/global.css";
import Nav from "../components/Nav/Nav.astro";

interface Props {
  title?: string;
}

const { title } = Astro.props;
---

<html
  lang="en"
  data-wf-page="5ce75a59757fff6268d29f8b"
  data-wf-site="5ce75a58757fffbe19d29f88"
>
  <head>
    <meta charset="utf-8" />
    <meta name="generator" content={Astro.generator} />
    <title>{title ? `${title} – ` : ""} Kickstarter United</title>
    <meta content="Kickstarter United" property="og:title" />
    <meta content="/images/logo.svg" property="og:image" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link
      rel="preconnect"
      href="https://fonts.gstatic.com"
      crossorigin="true"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />

    <link rel="shortcut icon" type="image/svg+xml" href="/images/logo.svg" />

    <script
      is:inline
      src="https://cdn.jsdelivr.net/npm/@oddbird/popover-polyfill@latest"
      crossorigin="anonymous"
      nomodule="true"
      async></script>
    <script is:inline type="module" async>
      import {
        isSupported,
        apply,
      } from "https://unpkg.com/invokers-polyfill@latest/invoker.js";
      if (!isSupported()) {
        apply();
      }
    </script>
    <script is:inline type="module">
      if (!("anchorName" in document.documentElement.style)) {
        import("https://unpkg.com/@oddbird/css-anchor-positioning");
      }
    </script>
  </head>
  <body class="leading-[1.6]">
    <div class="page page-grid">
      <header class="page__header page-grid__bleed">
        <p class="page__logo">
          <a class="link--standalone" href="/">Kickstarter United</a>
        </p>

        <Nav />
      </header>

      <main class="page__content mx-0 my-8" id="content">
        <slot />
      </main>

      <footer class="page__footer page-grid__bleed">
        <div class="p-4 text-center">
          <SocialLinks />
          <br />
          © Copyright 2025 Kickstarter United
        </div>
      </footer>
    </div>
  </body>
</html>
