<!doctype html>
<meta charset="utf-8" />
<title>Redirecting to /events/calendar</title>
<meta http-equiv="refresh" content="0; URL=/events/calendar" />
<link rel="canonical" href="/events/calendar" />
{/* <script> window.location.replace("/events/calendar"); </script> */}
