!= render 'templates/layout' do
  %h1 How creators can support Kickstarter United
  %ul
    %li
      Please sign the
      %a{href: "https://forms.gle/vzao2seP756SLQKF9", target: "_blank"}
        Creator Petition In Support of Kickstarter United Workers on Strike.
      This petition is a collective action led by creators - by adding your name to the petition,
      you can show Kickstarter management that creators stand with us in our fight for a fair contract.
      After you've signed it, please share it with other creators in your community!
    %li
      Mention KSRU in your campaign story, and link to our website
      %a{href: "/", target: "_blank"} kickstarterunited.com
      \.
      Use
      %a{href: "/union-assets"} our assets
      in your campaign story and/or thumbnail.
      If you do, we'll be happy to feature your project
      %a{href: "/projects-our-workers-love"} here!
    %li
      Share our posts on
      %a{href: "/socials"} social media,
      and help us spread the word about the strike.
    %li
      Add campaign updates to your projects letting backers know about
      our strike, and link them to
      %a{href: "/"} kickstarterunited.com
    %li
      %a{href: "https://help.kickstarter.com/hc/en-us/requests/new", target: "_blank"}
        Submit legitimate support tickets to our Community Support team.
      We want Kickstarter management to feel the absence of our labor - as soon as the strike ends,
      we'll get back to helping you resolve these tickets.
    %li
      If you have a point of contact at Kickstarter, reach out to them to ask them to
      meet our demands so we can end the strike and get back to helping your projects succeed.
