---
import type { HTMLAttributes } from "astro/types";

export interface NavLinkProps extends Omit<HTMLAttributes<"a">, "children"> {
  /** The visible label */
  label: string;
  /** Required URL for the link */
  href: string;
}

const { label, ...props } = Astro.props as NavLinkProps;
---

<a {...props} class:list={[props.class, "menu__item"]}>
  {label}
</a>
